body
{
}

.editing
{
	background: yellow;
}

.editable input, .editable select
{
	display: none;
}

.editable.editing label
{
	display: none;
}
.editable.editing input, .editable.editing select
{
	display: inline-block;
}
